<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% set title = title is defined ? title : 'Titre' %}
    {% set favicon = favicon is defined ? favicon : 'bundles/acadtemplate/images/en.ico' %}
    {% set navbar_title = navbar_title is defined ? navbar_title : title %}
    {% set sidebar_title = sidebar_title is defined ? sidebar_title : title %}
    {% set navbar_right_label = navbar_right_label is defined ? navbar_right_label : 'Menu' %}
    {% set navbar_bp = navbar_bp is defined ? navbar_bp : 'md' %}
    {% set sidebar_bp = sidebar_bp is defined ? sidebar_bp : 'xl' %}
    {% set sidebar_display = sidebar_display is defined ? sidebar_display : 'always' %}
    {% set logo_navbar = logo_navbar is defined ? logo_navbar : 'bundles/acadtemplate/images/logo_ac_blanc.png' %}
    {% set logo_sidebar = logo_sidebar is defined ? logo_sidebar : 'bundles/acadtemplate/images/logo_ac_blanc.png' %}
    {% set logo_footer = logo_footer is defined ? logo_footer : 'bundles/acadtemplate/images/logo_dsi.png' %}
    {% set footer_display = footer_display is defined ? footer_display : 'sticky' %}
    {% set footer_width = footer_width is defined ? footer_width : null %}
    {% set logout_link = logout_link is defined ? logout_link : '#' %}
    {% set num_cnil = num_cnil is defined ? num_cnil : null %}
    {% set navbar_style = navbar_style is defined ? navbar_style : 'dark' %}
    {% set toasts_class = toasts_class is defined ? toasts_class : 'col-12 col-sm-6 col-md-4 col-xl-3' %}
    {% set path_mentions_legales = path_mentions_legales is defined ? path_mentions_legales : path("acad_template_mentions_legales") %}

    {% set sidebar_display_var = sidebar_display ? "sidebar-" ~ sidebar_display : null %}
    {% set footer_display_var = footer_display ? "footer-" ~ footer_display : null %}
    {% set footer_width_var = footer_width ? "footer-" ~ footer_width : null %}
    <title>
        {% block title %}
            {{ title }}
        {% endblock %}
    </title>
    <link rel="icon" type="image/x-icon" href="{{ asset(favicon) }}" />
    {% block header_assets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link href="{{ asset('bundles/acadtemplate/css/acad-template.min.css') }}" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>
<header>
    <nav id="navbar"
         class="navbar navbar-expand-{{ navbar_bp }} fixed-top navbar-{{ navbar_style }}">
        <div id="navbarHeader"
             class="px-2 {{ sidebar_display_var }} {{ sidebar_bp }} {{ navbar_bp }}">
            {% if sidebar_display %}
            <div id="sidebarBrand" class="navbar-toggler d-flex d-{% if sidebar_display == "always" %}{{ sidebar_bp }}{% else %}{{ navbar_bp }}{% endif %}-none">
                <div id="sidebarIcon">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            {% endif %}
            {% if logo_navbar %}
                <span id="navbarLogo" class="{{ navbar_bp }} {% if sidebar_display == "always" %}{{ sidebar_bp }}{% endif %}">
                        <img src="{{ asset(logo_navbar) }}" class="d-inline-block"
                             alt="logo">
                    </span>
            {% endif %}
            <span id="navbarTitle" class="mx-1 py-1">
                    {% block navbar_title %}
                        {{ navbar_title }}
                    {% endblock %}
                </span>
            {% if sidebar_display != "collapse" %}
                <button id="navbarCollapser" class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#acadNavbarContent"
                        aria-controls="acadNavbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            {% endif %}
        </div>
        <div class="collapse navbar-collapse" id="acadNavbarContent">
            <ul class="navbar-nav mr-auto">
                {% block navbar_content %}{% endblock %}
            </ul>
            {% block navbar_right %}
                <ul class="navbar-nav">
                    {% block navbar_right_items %}
                        <li class="nav-item dropdown ">
                            <button class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% block navbar_right_label %}
                                    {{ navbar_right_label }}
                                {% endblock %}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                {% block navbar_right_dropdown %}
                                    <a class="dropdown-item" href="{{ logout_link }}">
                                        <svg class="align-bottom acad-svg" viewBox="0 0 24 24">
                                            <path class="svg-path"
                                                  d="M17,17.25V14H10V10H17V6.75L22.25,12L17,17.25M13,2A2,2 0 0,1 15,4V8H13V4H4V20H13V16H15V20A2,2 0 0,1 13,22H4A2,2 0 0,1 2,20V4A2,2 0 0,1 4,2H13Z"></path>
                                        </svg>
                                        Déconnexion
                                    </a>
                                {% endblock %}
                            </div>
                        </li>
                    {% endblock %}
                </ul>
            {% endblock %}
        </div>
    </nav>
</header>
{% if sidebar_display %}
    <aside id="sidebar"
           class="{{ sidebar_display_var }} {{ sidebar_bp }} {{ footer_display_var }}{% if footer_display == "always" %} {{ footer_width_var }}{% endif %}">
        <div id="sidebarHeader" class="mx-auto">
            <img class="mt-3" src="{{ asset(logo_sidebar) }}"
                 alt="logo sidebar">
            <div id="sidebarTitle" class="my-2">{{ sidebar_title }}</div>
        </div>
        <div id="sidebarContent">
            {% block sidebar_content %}{% endblock %}
        </div>
    </aside>
{% endif %}
{% set flashes = [] %}
{% for type, messages in app.flashes %}
    {% for message in messages %}
        {% set flashes = flashes|merge([{type: type, message: message}]) %}
    {% endfor %}
{% endfor %}
<div id="flashBag" data-flash="{{ flashes|json_encode|e('html_attr') }}"></div>
<section id="wrapper"
         class="{{ sidebar_display_var }} {{ sidebar_bp }} {{ footer_display_var }} {{ footer_width_var }}">
    <section class="{{ toasts_class }}" id="acadToasts"></section>
    <main id="acadMain" class="{{ footer_display_var }} {{ footer_width_var }}">
        {% block main %}{% endblock %}
    </main>
    {% if footer_display == "sticky" %}
        {{ include('@AcadTemplate/footer.html.twig') }}
    {% endif %}
</section>
<div id="overlay" class="{{ sidebar_bp }}"></div>
{% if footer_display == "always" %}
    {{ include('@AcadTemplate/footer.html.twig') }}
{% endif %}

{% block after_page %}{% endblock %}

{% block footer_assets %}
    <script src="{{ asset('bundles/acadtemplate/js/acad-template.min.js') }}"></script>
{% endblock %}
</body>
</html>