{% set i = 1 %}
<p><span style="font-weight:bold">{{ i }}. Editeur</span><br>
    {% set i = i + 1 %}
    Rectorat de l’académie de Créteil<br>
    Direction des Systèmes d’Information<br>
    4 rue Georges Enesco<br>
    94010 Créteil Cedex<br>
    Tel&nbsp;: 01.57.02.60.00</p>

<p><span style="font-weight:bold">{{ i }}. Directeur de publication</span><br>
    {% set i = i + 1 %}
    Le directeur de la publication est Daniel Auverlot, recteur de l’académie de Créteil, chancelier des universités.
</p>

<p><span style="font-weight:bold">{{ i }}. Hébergement </span><br>
    {% set i = i + 1 %}
    Ce site est hébergé par la Direction des Systèmes d'Information (D.S.I.) de l'académie de Créteil<br>
    4 rue Georges Enesco<br>
    94010 Créteil Cedex<br>
    Tel&nbsp;: 01.57.02.66.00<br>
</p>

<p><span style="font-weight:bold">{{ i }}. Droit d'auteur et de reproduction</span><br>
    {% set i = i + 1 %}
    Les documents publics ou officiels ne sont couverts par aucun droit d'auteur (article L.122-5 du code de la
    propriété intellectuelle). Ils peuvent donc être reproduits librement.<br>
    Les informations utilisées ne doivent l'être qu'à des fins personnelles, associatives ou professionnelles ; toute
    utilisation ou reproduction à des fins commerciales ou publicitaires est interdite. <br>
    La reproduction, par n'importe quel moyen et à n'importe quelle fin, des documents non publics, des graphismes,
    photographies et ressources multimédias issus du site de l'académie de Créteil ou des sites hébergés par l'académie
    de Créteil (sites d'établissement, sites thématiques, sites disciplinaires) est soumise à l'accord préalable de
    leurs auteurs dont les coordonnées figurent en page d’accueil. <br>
    Toute copie partielle ou totale de ce site ou des sites hébergés par l'académie de Créteil est soumise à
    autorisation. </p>

<p><span style="font-weight:bold">{{ i }}. Protection des données personnelles</span><br>
    {% set i = i + 1 %}
    Ce site respecte la vie privée et se conforme strictement aux lois en vigueur
    sur la protection de la vie privée et des libertés individuelles. Aucune information personnelle n'est collectée à
    votre insu. Aucune information personnelle n'est cédée à des tiers. Les courriels, les adresses électroniques ou
    autres informations nominatives dont ce site est destinataire ne font l'objet d'aucune exploitation et ne sont
    conservés que pour la durée nécessaire à leur traitement. <br>

    Conformément aux dispositions de la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux
    libertés, les personnes disposent d'un droit d'accès, de modification, de rectification et de suppression des
    données qui les concernent. Ce droit s'exerce par voie postale, en justifiant de son identité, à l'adresse suivante
    : <br>
    rectorat de l’académie de Créteil<br>
    Direction des Systèmes d’Information<br>
    4 rue Georges Enesco<br>
    94010 Créteil Cedex</p>

<p><span style="font-weight:bold">{{ i }} Conditions d'utilisation du site</span><br>
    {% set i = i + 1 %}
    L'utilisateur de ce site reconnaît disposer de la compétence et des moyens nécessaires pour accéder et utiliser ce
    site. Il est invité à respecter les bons usages de l'internet, en particulier dans l'utilisation des adresses
    électroniques du personnel académique.<br>
    Il est rappelé que l'article 26 de la loi du 6 janvier 1978 « Informatique et libertés » prohibe toute collecte
    massive de ces adresses, à l'insu de leurs détenteurs, pour procéder à l'envoi massif de messages non désirés, quel
    que soit l'objet des messages diffusés. En application de l'article 16 de cette loi, sont également interdites la
    constitution de systèmes d'envoi automatisé de messages, la création de bases de données réunissant les adresses
    électroniques du personnel académique, et la mise en place de traitements automatisés d'informations nominatives le
    concernant qui n'auraient pas fait l'objet d'une déclaration préalable à la CNIL. </p>